.b-btn {
    height: 46px;
    font-size: 16px;
}

.s-header-menu li a {
    font-weight: 800;
}

.s-why-text {
    font-size: 18px;
    line-height: 28px;
    padding-top: 10px;
    padding-right: 40px;
}

.s-why-text h3 {
    margin-bottom: 20px;
}

.s-why-text-item + .s-why-text-item {
    padding-top: 40px;
}

.s-why {
    padding: unset;
}

.s-why-block {
    padding: unset;
}

.s-about-descr, .s-contact-link a, .s-offer-descr {
    font-size: 20px;
}

.s-contact-form-item input, .s-contact-form-item textarea {
    font-size: 20px;
}

.b-btn.transparent {
    border: 2px solid #6c0d0b;
    background-color: #6c0d0b;
}

.b-btn.transparent:hover {
    background: unset;
}

.s-services {
    padding: 120px 0 80px;
}

.s-services .s-about-title {
    color: #f0edd8;
}
.s-services-descr {
    font-size: 20px;
    max-width: 800px;
}

.s-services-line {
    padding-top: 60px;
}

.s-why-inner{
    background-image: url("/assets/frontend/img/why.jpeg");
}

.s-hero1 {
    background-image: url("/assets/frontend/img/trees1.jpg");
}

.s-services-item-descr {
    line-height: 24px;
    font-size: 14px;
}

.alert {
    padding: 20px;
    font-family: "Avenir", serif;
    margin-bottom: 20px;
}

.alert-success {
    border: 1px solid green;
    background-color: green;
    color: #f0edd8;
}

.s-contact-btn {
    height: 46px;
    font-size: 16px;
}

.s-contact-btn img {
    max-width: 28px;
}

.s-footer-menu li:after {
    content: "|";
}

.s-footer-copy {
    font-size: 14px;
    padding-top: 150px;
}

.p-about-item-text {
    padding-top: 30px;
}




@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700);
* {
    font-family: "Open Sans";
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    position: relative;
}
figure h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    border-right: 3px solid #fff;
    padding: 5px 10px 5px 5px;
}

video {
    width: 100%;
    max-width: 100%;
}

.stretch {
    height: 2000px;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
}
.stretch h1 {
    padding: 20px;
}

.hero-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: -9999;
}


